<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--1. 把我们的任务类交给spring托管-->
    <bean id="myJob" class="com.itheima.job.MyJob"/>

    <!--2. 配置Quartz-->
    <!--2.1 配置任务策略：也就是指定任务是什么-->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!--指定的任务类和任务方法-->
        <property name="targetObject" ref="myJob"/>
        <property name="targetMethod" value="print"/>
    </bean>

    <!--2.2 ： 配置任务触发器： 也就是什么时候执行这个任务-->
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <!--指定任务策略是什么，并且指定了什么时候触发这个任务， 这里给的是每隔2秒钟执行一次-->
        <property name="jobDetail" ref="jobDetail"/>
        <!--<property name="cronExpression" value="0/2 * * * * ?"/>-->
        <property name="cronExpression" value="* * * * * ?"/>
    </bean>

    <!--2.3 配置任务调度器： 也就是把这个任务触发器交给调度容器管理-->
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <!--把触发器交给调度容器-->
        <property name="triggers">
            <array>
                <ref bean="cronTrigger"/>
            </array>
        </property>
    </bean>
</beans>