<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">


    <!--这里配置springsecurity认证授权的规则-->
    <security:http pattern="/css/**" security="none"/>
    <security:http pattern="/img/**" security="none"/>
    <security:http pattern="/js/**" security="none"/>
    <security:http pattern="/plugins/**" security="none"/>
    <security:http pattern="/template/**" security="none"/>
    <security:http pattern="/login.html" security="none"/>

    <!--1. 设置匿名即可访问的资源有哪些 : 只要登录过了就运行访问这些页面-->
    <security:http auto-config="true" use-expressions="true">
        <!--2. 设置哪些资源需要有权限才可以访问-->
        <security:intercept-url pattern="/pages/**" access="isAuthenticated()"/>

        <!--3. 设置自己的登录页面-->
        <security:form-login
                login-page="/login.html"
                login-processing-url="/login.do"
                always-use-default-target="true"
                username-parameter="username"
                password-parameter="password"
                default-target-url="/pages/main.html"
                authentication-failure-url="/login.html"/>

        <!--3.1 如果是用自己的登录页面，需要关闭掉盗链机制-->
        <security:csrf disabled="true"/>

        <!--4. 还要这是一个同源策略 iframe布局要用的。-->
        <security:headers>
            <security:frame-options policy="SAMEORIGIN"/>
        </security:headers>

        <!--5. 退出登录-->
        <security:logout logout-url="/logout.do" logout-success-url="/login.html" invalidate-session="true"/>
    </security:http>

    <!--4. 设置认证管理员，提供认证的是哪个服务？哪个类，使用什么加密方式？-->
    <bean id="bCryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
    <security:authentication-manager>
        <security:authentication-provider user-service-ref="springSecurityUserService">
            <security:password-encoder ref="bCryptPasswordEncoder"/>
        </security:authentication-provider>
    </security:authentication-manager>

    <!--5. 打开类当中权限注解的开关-->
    <security:global-method-security pre-post-annotations="enabled"/>

</beans>