<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanhua.dubbo.mapper.UserDimensionsMapper">
    <insert id="insertUserDimensions" parameterType="UserDimensions">
        insert into tb_user_dimensions values
        <foreach collection="list" item="userDimensions" separator=",">
            (null,#{userDimensions.userId},(select soul_id from tb_questions where id=#{userDimensions.questionId}),#{userDimensions.dimensionId},#{userDimensions.rate})
        </foreach>
    </insert>
</mapper>